{
  "presets": [
    "react",
    ["env", { "modules": false }]
  ],
  "plugins": [
    [
      "react-intl", {
        "messagesDir": "./src/locale/messages"
      }
    ],
    "transform-class-properties",
    "transform-object-rest-spread",
    "react-hot-loader/babel"
  ]
}
