$summary-box-bg-color: #51abef;
$summary-box-padding: 30px;
$summary-box-margin: 20px;
$summary-box-width: 400px;
$summary-box-text-color: white;

$imgRowCount: 6;
$imgWidth: (100 / $imgRowCount) - 1;
$imgMargin: (100 - $imgWidth * $imgRowCount) / ($imgRowCount - 1);

.about {
  & > p {
    white-space: pre-wrap;
  }

  .summary-box {
    * {
      color: $summary-box-text-color !important;
    }

    & > p {
      white-space: pre-wrap;
      line-height: 1.1em;
    }

    background-color: $summary-box-bg-color;
    padding: 0 $summary-box-padding;
    margin: 0 0 $summary-box-margin $summary-box-margin;
    float: right;
    width: $summary-box-width - $summary-box-padding * 2;
  }

  .click-images {
    font-weight: bold;
  }

  .pswp-thumbnails {
    font-size: 0;
  }

  .pswp-thumbnail {
    display: inline-block;
    width: $imgWidth * 1%;
    padding-bottom: 1.25%;
    transition: opacity .1s ease-out;

    img {
      width: 100%;
      display: block;
    }

    &:not(:nth-child(#{$imgRowCount}n + 1)) {
      margin-left: $imgMargin * 1%;
    }

    &:hover {
      cursor: pointer;
      opacity: .85;
    }
  }

  .pswp__caption__center {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    line-height: 20px;
    max-width: 700px;
    width: fit-content;
  }
}
