$main-text-color: #262626;

$date-bg-color: rgba(0, 0, 0, 0);
$date-text-color: #262626;
$date-not-in-month-text-color: #b5b5b5;

$week-number-text-color: #5c5c5c;

$booked-date-bg-color: #e13f3f;
$booked-date-text-color: white;
$booked-date-not-in-month-text-color: #ffa8a8;

$hovered-date-bg-color: #73d349;
$hovered-date-text-color: white;
$hovered-date-not-in-month-text-color: #bbff99;

@mixin bgGradient($left-color, $right-color) {
  background: linear-gradient(to right bottom, $left-color 0%, $left-color 49%, $right-color 50%, $right-color 100%);
}

@mixin dateGradient($bg-left, $bg-right, $text-left, $text-right, $not-in-month-text-left, $not-in-month-text-right) {
  li:last-child {
    @include bgGradient($bg-left, $bg-right);

    span {
      @include bgGradient($text-left, $text-right);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      -webkit-text-fill-color: transparent;
    }

    &.not-in-month span {
      @include bgGradient($not-in-month-text-left, $not-in-month-text-right);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      -webkit-text-fill-color: transparent;
    }
  }
}

.calendar {
  font-family: 'Open Sans', sans-serif;
  color: $main-text-color;
  user-select: none;
  cursor: default;

  .month-selector {
    font-weight: bold;
    font-size: 20px;
    text-align: center;

    input, span {
      height: 30px;
      vertical-align: middle;
    }

    span {
      text-transform: capitalize;
      display: inline-block;
      width: 50%;
    }
  }

  .weekdays {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 18px;

    li:first-child {
      visibility: hidden;
    }
  }

  // Layout
  ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;

    li {
      $width: (100 / 14);
      $padding: (100 - ($width * 8)) / 13;

      width: $width * 1%;
      padding: 0 $padding * 1%;

      display: inline-block;
      // position: relative;

      text-align: center;

      &:before {
        content: "";
        display: inline-block;
        padding-top: 100%;
        vertical-align: middle;
      }

      span {
        width: 1.5em;
        line-height: 1.5em;
        vertical-align: middle;
      }

      &:first-child {
        padding-left: 0;
      }

      &:nth-child(2) {
        padding-left: 0;
      }

      &:nth-last-child(2) {
        padding-right: $padding * 2%;
      }

      &:last-child {
        padding: 0;
      }
    }
  }

  // Styling

  &.bookable {
    .week-row {
      cursor: pointer;
    }
  }

  .week-row {
    .week-number {
      color: $week-number-text-color;
    }

    .not-in-month {
      color: $date-not-in-month-text-color;
    }

    &.hovered {
      li {
        &:not(:first-child) {
          background-color: $hovered-date-bg-color;
          color: $hovered-date-text-color;
        }

        &.not-in-month {
          color: $hovered-date-not-in-month-text-color;
        }
      }
    }

    &.booked {
      li {
        &:not(:first-child) {
          background-color: $booked-date-bg-color;
          color: $booked-date-text-color;
        }

        &.not-in-month {
          color: $booked-date-not-in-month-text-color;
        }
      }
    }

    &:not(.booked).hovered.next-booked {
      @include dateGradient($hovered-date-bg-color, $booked-date-bg-color, $hovered-date-text-color, $booked-date-text-color, $hovered-date-not-in-month-text-color, $booked-date-not-in-month-text-color);
    }

    &:not(.booked).hovered:not(.next-booked) {
      @include dateGradient($hovered-date-bg-color, $date-bg-color, $hovered-date-text-color, $date-text-color, $hovered-date-not-in-month-text-color, $date-not-in-month-text-color);
    }

    &:not(.booked):not(.hovered).next-booked {
      @include dateGradient($date-bg-color, $booked-date-bg-color, $date-text-color, $booked-date-text-color, $date-not-in-month-text-color, $booked-date-not-in-month-text-color);
    }

    &:not(.booked).next-hovered:not(.next-booked) {
      @include dateGradient($date-bg-color, $hovered-date-bg-color, $date-text-color, $hovered-date-text-color, $date-not-in-month-text-color, $hovered-date-not-in-month-text-color);
    }

    &.booked:not(.next-hovered):not(.next-booked) {
      @include dateGradient($booked-date-bg-color, $date-bg-color, $booked-date-text-color, $date-text-color, $booked-date-not-in-month-text-color, $date-not-in-month-text-color);
    }

    &.booked.next-hovered:not(.next-booked) {
      @include dateGradient($booked-date-bg-color, $hovered-date-bg-color, $booked-date-text-color, $hovered-date-text-color, $booked-date-not-in-month-text-color, $hovered-date-not-in-month-text-color);
    }
  }
}
