.book {
  .calendar {
    margin: 3em auto;
    width: 82%;
  }

  .tel, .bg-number {
    display: inline-block;
  }

  .contact, .bankgiro, .tel {
    font-weight: bold;

    span {
      margin-right: .5em;
    }
  }

  .bankgiro {
    margin-bottom: 2em;
  }
}
