.book {
  .calendar {
    margin: 3em auto;
    width: 82%;
  }

  .tel {
    display: inline-block;
    padding-left: .5em;
  }

  .contact, .bankgiro, .tel {
    font-weight: bold;
  }

  .bankgiro {
    margin-bottom: 2em;
  }
}
